body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #0b0c10;
  color: #cfd8dc;
}

header {
  text-align: center;
  padding: 50px 20px;
  background-color: #0d1117;
}

h1 {
  color: #4ea8de;
  font-size: 2.5em;
}

h2 {
  color: #4ea8de;
  margin-top: 40px;
  text-align: center;
}

p {
  max-width: 600px;
  margin: 10px auto;
}

.social a {
  margin: 0 10px;
  font-size: 1.5em;
  text-decoration: none;
  color: #4ea8de;
}

#sobre {
  padding: 40px 20px;
}

.sobre-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sobre-container img {
  width: 250px;
  height: 320px;
  border-radius: 40px;
  margin-bottom: 20px;
}

#projetos .projetos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 1000px;
  margin: auto;
}

.card {
  background-color: #1c1f26;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.card a {
  color: #4ea8de;
  text-decoration: none;
}

.skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}

.skills span {
  background-color: #1f2630;
  padding: 10px 15px;
  border-radius: 8px;
  font-weight: bold;
}

#formacao, #contato {
  padding: 20px;
  text-align: center;
}

button {
  padding: 10px;
  margin: 10px;
  background-color: #4ea8de;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #3b8fc1;
}


footer {
  text-align: center;
  padding: 15px;
  background-color: #0d1117;
  color: #777;
}

/* Modo claro */
body.modo-claro {
  background-color: #f4f4f4;
  color: #222;
}

body.modo-claro header,
body.modo-claro footer {
  background-color: #ddd;
}

body.modo-claro .card,
body.modo-claro .skills span {
  background-color: #fff;
  color: #000;
}